Classroom Info
<p>
<%= render partial: 'classroom', locals: { classroom: @classroom }%>
</p>

<% @classroom.students.each do |student| %>
    <ul>
        <li> <%= render partial: 'students/student', locals: { student: student }%> </li>    
    </ul>
<% end %>