Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

<% @classroom.students.each do |student| %>
<ol>
<li><%= render partial: 'students/student', locals: {student: student} %></li>
</ol>
<% end %>