<h1> Classroom Info </h1>

<%= render partial: "classroom", locals: {classroom: @classroom} %>

<% if false %>
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>
<% end %>

<h1> Students: </h1>

<% @classroom.students.each do |student| %>
    <%= render partial: 'students/student', locals: {student: student} %>
<% end %>